name: Run tests

on: [pull_request]

permissions:
  checks: write
  pull-requests: write

jobs:
  python-tox-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libarchive-dev libgsl-dev

      - name: Install tox/wheel/setuptools
        run: |
          python -m pip install --upgrade pip
          pip install wheel setuptools
          pip install tox

      - name: List tox environments
        run: |
          # runs tox
          tox -l

      - name: Install dependencies from tox
        timeout-minutes: 15
        run: |
          # runs tox with exhaustive package installation
          tox -e ${{ matrix.python_version }} --notest -vv

      - name: Run tests from tox
        timeout-minutes: 30
        run: |
          # runs tox
          tox -l
          tox -e ${{ matrix.python_version }}

      - name: Upload unit test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Tox test results (${{ matrix.python_version }})
          path: ${{ github.workspace }}/.tox/**/tmp/*.xml
          include-hidden-files: true

  publish-test-results:
    name: 'publish unit tests results'
    needs: [python-tox-tests]
    runs-on: ubuntu-latest
    # previous jobs might be skipped, we don't need to run this job then
    if: success() || failure()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: artifacts/**/*.xml
